body{
    margin:0 auto;
    margin-top: 40px;
    padding: 20px;
    border: 10px solid red;
    width: 20%;
    font-family: Arial, Helvitica, sans-serif;
    text-align: center;
}

.circle {
    background: green;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}